h1 {
  color: #000064;
  width: 100%;
}
 
h2 {
  margin-top: 15px;
  color: #640000;
  text-align: left;
  background-color: gainsboro;
}

h3 {
  margin-top: 15px;
  color: #000064;
  background-color: gainsboro;
}

h4 {
  margin-top: 15px;
  color: #004600;
}

h5, .caption, .figureRef {
  font-style: italic;
  color: darkgreen;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  font-weight: normal;
  font-size: 14px;
}

p {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}

ul, ol {
  margin-left: -20px;
  margin-top: 0px;
  padding-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: none;
}

ol > li {
  counter-increment: section;
}

ol > li::before {
  content: counter(section, decimal) ") ";
  margin-left: -16px;
}

.highlight {
  color: darkred;
  font-style: italic;
}

h6 .highlight, .fullcode .highlight {
  color: yellow;
}

body {
  font-size: 14px;
}

.flexSize {
  height: 100px;
}

.flexSize:hover {
  height: 400px;
}

.linkTo {
  color: #0000c8;
}

h6, .fullcode {
  overflow-wrap: break-word;
  display: block;
  line-height: 1.7em;
  font-style: normal;
  font-weight: normal;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  font-size: 14px;
  color: #64ffff;
  background-color: #212121;
  font-family: monospace;
}

h6:empty, .fullcode:empty {
  min-height: 1.7em;
  background-color: red;
}

h6 > br, h6 > h6, .fullcode > br, .fullcode > .fullcode {
  color: red;
}

.figureRef {
  text-decoration: line-through;
}

h6.p, .partial {
  color: orange;
}

.extension, .trap {
  color: brown;
}

/* Shortcut class names only used in the D2L editor --
   don't want these to appear in editors that have a
	dropdown menu of classes */
.hl {
  color: darkred;
  font-style: italic;
}
 
h6 .hl, .fullcode .hl {
  color: yellow;
}

.fs {
  height: 100px;
}

.fs:hover {
  height: 400px;
}
