.orange {
  color: orange !important;
  font-size: 30px;
}

.white {
  color: white !important;
  font-size: 30px;
}

footer, body, html, p, div
{
  color: lime !important;
  background-color: black !important;
}

h1, h2
{
  color: aqua !important;
}

}
a:link, a:visited
{
  color: yellow !important;
}